
@{
    ViewBag.Title = "_BookList";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Button to open the modal -->
<button id="openModalBtn" data-toggle="modal" data-target="#createBookModal" class="btn btn-primary">Create Book</button>

<!-- Create Student Modal -->
<div class="modal fade" id="createBookModal" tabindex="-1" role="dialog" aria-labelledby="createBookModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createBookModal">Create Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="studentForm">
                    <div class="form-group">
                        <label for="name">Book Tittle</label>
                        <input type="text" class="form-control" id="name" name="BookName">
                    </div>
                    <div class="form-group">
                        <label for="pagecount">Page Count</label>
                        <input type="text" class="form-control" id="pagecount" name="pagecount">
                    </div>
                    <div class="form-group">
                        <label for="point">Point</label>
                        <input type="text" class="form-control" id="point" name="point">
                    </div>
                    <div class="form-group">
                        <label for="author">Author</label>
                        @Html.DropDownList("authorId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        @Html.DropDownList("typeId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="createBook">Create Book</button>
            </div>
        </div>
    </div>
</div>

<div>
    <h2>Book List</h2>

    <table class="table">
        <tr>
            <th>
                name
            </th>
            <th>
                pagecount
            </th>
            <th>
                point
            </th>
            <th>
                author.name
            </th>
            <th>
                type.name
            </th>
        </tr>

        @foreach (var book in Model)
        {
            <tr>
                <td>
                    @book.name
                </td>
                <td>
                    @book.pagecount
                </td>
                <td>
                    @book.point
                </td>
                <td>
                    @book.author.name
                </td>
                <td>
                    @book.type.name
                </td>

            </tr>

        }

    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#createBook").on("click", function () {
            var Students = {
                name: $("#name").val(),
                pagecount: $("#pagecount").val(),
                point: $("#point").val(),
                authorId: $("#authorId").val(),
                typeId: $("#typeId").val()
            };
            $.ajax({
                url: "/Home/CreateBook",
                type: "POST",
                data: Students,
                success: function (result) {
                    if (result.success) {
                        $("#studentModal").modal("hide");
                    } else {
                        console.log("Error Details missing")
                    }
                }
            });
        });
    });
</script>