@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "_StudentList";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<button id="openModalBtn" data-toggle="modal" data-target="#createStudentModal" class="btn btn-primary">Create Student</button>

<div class="modal fade" id="createStudentModal" tabindex="-1" role="dialog" aria-labelledby="createStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createStudentModalLabel">Create Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="studentForm">
                    <div class="form-group">
                        <label for="name">First Name</label>
                        <input type="text" class="form-control" id="name" name="FirstName">
                    </div>
                    <div class="form-group">
                        <label for="surname">Last Name</label>
                        <input type="text" class="form-control" id="surname" name="LastName">
                    </div>
                    <div class="form-group">
                        <label for="birthdate">Age</label>
                        <input type="date" class="form-control" id="birthdate" name="Age">
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <input type="text" class="form-control" id="gender" name="Gender">
                    </div>
                    <div class="form-group">
                        <label for="point">Point</label>
                        <input type="text" class="form-control" id="point" name="LastName">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="createStudent">Create Student</button>
            </div>
        </div>
    </div>
</div>

<div>
    <h2>Students</h2>

    <table class="table">
        <tr>
            <th>
                student name
            </th>
            <th>
                stdent surname
            </th>
            <th>
                birthdate
            </th>
            <th>
                gender
            </th>
            <th>
                class
            </th>
            <th>
                point
            </th>
            <th></th>
        </tr>

        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @student.name
                </td>
                <td>
                    @student.surname
                </td>
                <td>
                    @student.birthdate
                </td>
                <td>
                    @student.gender
                </td>
                <td>
                    <!--student.class-->
                </td>
                <td>
                    @student.point
                </td>

            </tr>
        }
    </table>
</div>
<!--Html.PagedListPager(Model, page => Url.Action("Index", new { studentPage = page, bookPage = ViewBag.bookPage, pageSize = ViewBag.pageSize }));-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#createStudent").on("click", function () {
            var Students = {
                name: $("#name").val(),
                surname: $("#surname").val(),
                birthdate: $("#birthdate").val(),
                gender: $("#gender").val(),
                point: $("#point").val()
            };
            $.ajax({
                url: "/Home/Create",
                type: "POST",
                data: Students,
                success: function (result) {
                    if (result.success) {
                        $("#studentModal").modal("hide");
                    } else {

                    }
                }
            });
        });
    });
</script>

